@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.btn {
  background-color: rgb(31, 228, 83);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 15px 20px;
  width: 125px;
  border: none;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.btn:active {
  transform: scale(0.95);
}


.container {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container h1 {
  margin: 2rem 0;
}



.container .input,
.container .button,
.container .output {
  margin: 2rem 0;
}

p {
  font-size: 2rem;
}






.container_1 {
  background-color: rgb(176, 163, 163);
  width: 80%;
    border-radius: 15px;
}

.skill {
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
    border-radius: 15px;
}

.html {
  width: 80%;
}

 
